$border-width: 1em;

body{
	padding: 2em;
}

body h2 {
	text-align: center;
}

p {
	margin: 1em 0;
}

html::after, 
html::before,
body::after, 
body::before {
	content: "";
	position: fixed;
	background-color: blue;
}

html::after{
	top: 0;
	right: 0;
	width: $border-width;
	height: 100%;
}
html::before{
	top: 0;
	left: 0;
	width: $border-width;
	height: 100%;
}

body::after{
	bottom: 0;
	left: 0;
	width: 100%;
	height: $border-width;
}

body::before{
	top: 0;
	left: 0;
	width: 100%;
	height: $border-width;
}
